/*general things*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*about the body*/

.container {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #E55D87;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(195, 71%, 63%, 0.664), hsla(341, 72%, 63%, 0.658)), url(../img/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(195, 71%, 63%, 0.664), hsla(341, 72%, 63%, 0.658)), url(../img/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}


nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover {
  
    text-decoration: underline;
    
}

header .text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-header h1{
    font-size: 50px;
    color: #fff;
}

.text-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}



.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

.container_about-us{
    display: flex;
    justify-content: space-evenly;
}

.img_about-us{
    width: 48%;
}

.about-us .container_text{
    width: 48%;
}

.container_text h3{
    margin-bottom: 15px;
}

.container_text h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.container_text{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Gallery */


.portfolio{
    background: #f2f2f2;
}

.gallery-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.img-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img{
    width: 50px;
}

.hover-gallery p{
    color: #fff;
}

.img-port:hover .hover-gallery{
    transform: scale(1);
}

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .text-card{
    width: 60%;
    color: #fff;
}

.cards .card > .text-card p{
    font-weight: 300;
    padding-top: 5px;
}